.view{
  min-height: 100vh;
}

.titulo-seccion{
  color: white;
  font-size: 2.2rem;
  padding-left: 30px;
  letter-spacing: 1px;
  font-weight: bold;
  margin-bottom: 40px;
}
.seccion{
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  max-width: 95%;
  margin-left: auto;
  margin-right: auto;
  gap: 2rem;
}
.seccion img{
  width: 100%;
  border-radius: 8px;
}


.cargando{
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2rem;
}