.header{
  position: sticky;
  top:0;
  width:100%;
  background:#0b0f3b;
  display:flex;
  align-items:center;
  justify-content:space-between;
  z-index: 1000;
  padding: 1rem 2.5rem;
}

.logo img{
  height:40px;
}

.nav{
  display:flex;
  padding: 1.25rem;
  gap:70px;
  align-items:center;
}

.nav-item{
  color:white;
  cursor:pointer;
  position:relative;
  text-decoration:none;
  font-weight:500;
}
.nav-item span {
  text-transform: none;
  letter-spacing: 0.5px;
}

.nav-item:hover{
  background: linear-gradient(90deg,#d400a6,#ff6a00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.dropdown{
  position:relative;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background: #11153f;
  padding: 0.5rem 0;
  min-width: 200px;
  border-radius: 12px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.5);
}

.dropdown-menu p {
  padding: 10px 16px;
  margin: 0;
  color: #ccc;
  font-size: 14px;
  transition: all 0.2s ease;
}

.dropdown-menu p:hover{
  background: linear-gradient(90deg,#d400a6,#ff6a00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.dropdown:hover .dropdown-menu{
  display:block;
}

.user{
  color:white;
  font-size:22px;
  cursor:pointer;
}

.user:hover{
  color:#ff2bbf;
}
