.header{
  position: sticky;
  top:0;
  width:100%;
  background:#0b0f3b;
  display:flex;
  align-items:center;
  justify-content:space-between;
  z-index: 1000;
  padding: 0 2.5rem;
}

.logo img{
  height:40px;
}

.nav{
  display:flex;
  padding: 1.25rem;

  gap:70px;
  align-items:center;
}

.nav-item{
  color:white;
  cursor:pointer;
  position:relative;
  text-decoration:none;
  font-weight:500;
}
.nav-item:hover{
  background: linear-gradient(90deg,#d400a6,#ff6a00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.dropdown{
  position:relative;
}

.dropdown-menu{
  display:none;
  position:absolute;
  top:100%;
  left:0;
  background:#0b0f3b;
  padding: 0.6rem 0.9rem;
  min-width:150px;
  border-radius:5px;
}

.dropdown-menu p{
  color:white;
  margin:6px 0;
  cursor:pointer;
}

.dropdown-menu p:hover{
  background: linear-gradient(90deg,#d400a6,#ff6a00);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}
.dropdown:hover .dropdown-menu{
  display:block;
}

.user{
  color:white;
  font-size:22px;
  cursor:pointer;
}

.user:hover{
  color:#ff2bbf;
}