.cards{
  min-height: 300px;
  border-radius: 8px;
  position:relative;
}
.images{
  min-width: 200px;
  position: relative;

}

 .cards h4{
  text-align: center;
  margin-top: 10px;
  padding-bottom: 10px;
  color: white;
}


.cards:hover{
  z-index: 10;
  box-shadow: 0 10px 30px rgba(90, 85, 85, 0.658);
  position: relative;
  transform: scale(1.10);
}

/*Para personas que llevan un teclado*/
.cards:focus{
  outline:2px solid #ff4db8;
}

.rating{
  position:absolute;
  top:20px;
  z-index: 20;
  right:8px;
  background:rgba(0,0,0,0.7);
  padding:4px 8px;
  border-radius:8px;
  font-size:13px;
  color:#ffd700;
  font-weight:bold;
}