.cards{
  min-width: 100px;
  position: relative;
}


h4{
  text-align: center;
  margin-top: 10px;
  color:white;
}

.edad {
  position: absolute;
  top: 8px;
  left: 8px;
  background: red;
  color: white;
  font-weight: bold;
  padding: 4px 8px;
  border-radius: 6px;
  font-size: 14px;
}